$webpage-bg-color: #f2f2f2;
$primary-font: 'Spectral';
$hover-cl: gray;
$primary-cl: #bf2d2d;
$akias-cl: darken(#E6CE1D, 10%);
html {
overflow-x: hidden;
font-size: 100%;
}

body {
  font-family: $primary-font;
  background-color: $webpage-bg-color;
}

.land-img {
  height: 7.813rem;
  width: 9.375rem;
}

#olly-section {
  padding-top:1.75rem;
}

nav {
  padding-top:0.75rem;
  .navbar-brand {
    color: $primary-cl;
    font-weight: bold;
    font-style: italic;
  }
  div {
    font-size: 1.3rem;
    display: inline;
    padding-right: 0.75rem;
    a {
      color: inherit;
    }

    a:hover {
      text-decoration: none;
      color: inherit;
      background-color: $hover-cl;
      opacity: 0.7;
    }
  }
}

#resume {
  padding-top: 2.5rem;
}

.c-side {
  padding-bottom:2rem;
}

#side-section {
  #education {

  }

  .resume-section-title {
    font-weight:600;
    font-size: 1.5rem;
    color: $primary-cl;
  }

  #technical {
    .sub-section {
      padding-bottom:2rem;
    }
    .sub-title {
      font-size:1.1rem;
      border-bottom: 2px solid $webpage-bg-color;
      padding-top:1rem;
      padding-bottom:1rem;
      font-weight: 600;
    }

    h6 {
      display:inline;
      padding-right:.75rem;
    }

  }

  .progress-div {
    padding-top:.5rem;
    padding-bottom:.5rem;

    h6 {
      font-size: 1.1rem;
      font-style: italic;
    }

    img {
        height: 2rem;
        width: 2.5rem;
        padding-left: .5rem;
    }

  }
}

#experience {

  #recommendations {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .resume-section-title {
    font-weight:600;
    font-size: 1.5rem;
    padding-left: 2rem;
    color: $primary-cl;
  }

  .job-title {
      font-weight: 600;
      letter-spacing: .1rem;
      text-transform: uppercase;
      color: $primary-cl;
    }

  blockquote {
    font-style:italic;
    letter-spacing: .08rem;
    line-height:1.7rem;
    font-weight: 600;


    p {
      color: $primary-cl;
      font-weight:600;
      margin-left: 1.25rem;
      padding-top:1rem;
    }
  }

  .experience-sub {
    padding-left: 3rem;

    h2 {

    }
    .loc-date {
      p {

      }
    }



    h6 {
      font-weight: 600;
      font-size: 1.125rem;
    }

    .did-item {
      padding-top: .01rem;
      font-size: 1.125rem;
      letter-spacing: .0125rem;
      //border-bottom: .001rem solid #dbd2d2;
    }
  }
}

// PORTFOLIO SECTION

subnav {
  overflow: hidden;
  background-color: $primary-cl;
  color: #000;
  font-weight:bold;
  position: fixed;
  width: 100%;
  top:4rem;
  height:2rem;
  border-radius: .5rem;
  z-index:999;

  div {
    display:inline;
    font-size:1.25rem;
    padding-right:1.1rem;
    padding-left: 1.1rem;
    float:left;
    margin-left:2rem;

    a {
      color:inherit;
    }

    a:hover {
      text-decoration: none;
      color:inherit;
      background-color: $hover-cl;
      opacity: 0.7;
    }
  }
}

#portfolio {
  #visumic {
  //  background-color: #fff;
    box-shadow: 0 0 10px black;
  }
  #ulance {
    box-shadow: 0 0 10px #c9b241;
  }

  #akiascallum {
    box-shadow: 0 0 10px $akias-cl;
  }

  #vitality {
    box-shadow: 0 0 10px $primary-cl;
  }

  .port-section {
    padding-top:2rem;
    padding-bottom:2rem;
    margin-bottom: .5rem;

    img {
      padding: 2rem;
    }
  }

  h4 {
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-weight: bold;
    color: $primary-cl
  }

  .logo-img {
    height:20rem;
    width:55%;
  }

  h2 {
      padding-top: .4rem;
      padding-bottom: .4rem;
      font-weight: bold;
      color: $primary-cl;
  }

  h5 {
    line-height:1.75rem;
  }

  ul {
    li {
      font-size:1.15rem;
      list-style-type: circle;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }
}



