{%  extends 'base.html' %}
{%  block content %}
{% load static %}
{% load staticfiles %}

    <div class="container-fluid">
        {% include 'navbar.html' %}
      <div class="col-lg-3 col-md-3 col-sm-8 mx-auto text-center" id="olly-section">
        <div class="card">
          <div class="card-body">
            <div class="card-title"><img src="{% static 'static/img/olly.jpg' %}" class="land-img img-fluid rounded-circle"></div>
            <h6 class="card-subtitle mb-2 text-muted">Olivier Dorvelus</h6>
            <h6 class="card-subtitle mb-2 text-muted">Brooklyn, NY</h6>
            <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
            <h6 class="card-subtitle mb-2 text-muted">ollydorvelus@gmail.com</h6>
            <p class="card-text">

                Passionate self-driven software engineer with a willingness to learn in hopes to work on meaningful and impactful projects.
                Tremendously adaptable and quick at picking up new technologies and concepts with a positive and enthusiastic attitude.
                Good with integrating into team based environments and comfortable communicating with audiences of varying technical backgrounds.

            </p>
            <a href="https://github.com/OllyDorvelus" class="card-link" target="_blank" style="padding:0;margin:0">Github</a> |
            <a href="https://www.linkedin.com/in/olivier-dorvelus-257149b9/" target="_blank" style="padding:0;margin:0" class="card-link">Linkedin</a>
          </div>
        </div>
      </div>
    </div>






{%  endblock content %}

