{% load static %}
{% include 'index.html' %}
<title>Olivier Dorvelus | Portfolio</title>
<div>
    <div class="" style="padding-top:1.1rem">
        <subnav>
            <div><a href="#ulance">Ulance</a></div>
            <div><a href="#visumic">Visumic</a></div>
            <div><a href="#akiascallum">Blog</a></div>
            <div><a href="#vitality">Vitality</a></div>
            <div><a href="#navbar"><div class="fas fa-arrow-up" style="padding-top:.4rem"></div></a></div>
        </subnav>

    </div>

    <div id="portfolio">

        <div id="ulance" class="port-section">
            <div class="text-center">
                <img  src="{% static 'static/img/ULance.png' %}" class="img-fluid logo-img">
                <h4>Freelance Marketplace for college students in order for them to gain experience and generate income</h4>
            </div>
            <div class="row">
                <div data-aos="fade-right" class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/uprof.png' %}" class="img-fluid"></div>
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                    <h2>Background</h2>
                    <h5>
                    An HBCU student reached out to me after a friend of mine recommended me as a web developer. He proposed to me a well documented business plan with a logo and more. I loved the
                        idea and the fact he came to me with something really fleshed out rather than the typical "I have this great idea, can you work on this for me".
                </h5>
                    <h5>I actually wanted to learn something new to build this project. The intended full stack framework was meteorJS but after dabbing in meteorJS
                    ,I felt like a project of this complexity would be better and faster with a stack I was already comfortable and familiar with so I used django. However, I am using VueJS rather than
                    JQuery to perform ajax CRUD operations. The development for this started late August 2018, however took some time off to take care of some personal things. <strong>This is the current side project
                    I'm working on.</strong> </h5></div>
                <div data-aos="fade-left" class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/uprof2.png' %}" class="img-fluid"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                    <h2>Features</h2>
                    <ul>
                        <li>Create an account and create a profile that details your skillset, education, and more.</li>
                        <li>Create services and set a price that people can then purchase(work in progress)</li>
                        <li>Search for a different array of services and get them completed by talented college students(work in progress)</li>
                        <li>Review services and recommend them to to others(work in progress)</li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12" data-aos="zoom-in-up"><img src="{% static 'static/img/uprof3.png' %}" class="img-fluid"></div>
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                    <h2>Technologies</h2>
                    <ul>
                        <li>Django & Django Rest Framework</li>
                        <li>VueJS</li>
                        <li>JQuery</li>
                        <li>Axios</li>
                        <li>Html, CSS, Bootstrap, Sass</li>
                    </ul>
                </div>
            </div>
        </div>

        <div  id="visumic" class="port-section">
            <div class="text-center">
                <img data-aos="zoom-in-up" src="{% static 'static/img/visu.png' %}" class="img-fluid logo-img">
                <h4>An independent artistic, creative, talented driven community where people with different skills can upload & share their work, connect with other artist, and view artist work</h4>
            </div>
            <div class="row">
                <div data-aos="fade-right" class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/visu1.png' %}" class="img-fluid"></div>
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                    <h2>Background</h2>
                    <h5>
                    A good friend of mine uploaded his music video on platforms such as YouTube and Facebook but the video didn't really get where he wanted so I decided to create a platform dedicated to artist.
                    Visumic was the kind of project that pushed my abilities and I picked up skills such as REST APIs, Ajax calls, JSON data, task handlers, and Amazon AWS.
                    </h5>
                    <h5>
                        I worked on and off on this during the 2017 Spring Semester up until July of that year and launched it early August with a few updates after.
                    </h5>
                </div>
                <div data-aos="fade-left"  class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/visu2.png' %}" class="img-fluid"></div>
            </div>
            <div class="row">
                <div data-aos="fade-right" class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/visu3.png' %}" class="img-fluid"></div>
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                    <h2>Features</h2>
                    <ul>
                        <li>Create an account and upload, comment, and share videos</li>
                        <li>Create playlist of your favorite videos</li>
                        <li>Follow your favorite artist and get notified of their recent work</li>
                        <li>Search for videos and filter them by genre</li>
                        <li>Check out top rankings by views</li>
                        <li><strong>LIVE</strong> at <a href="https://www.visumic.com/" target="_blank">Visumic</a></li>
                    </ul>
                    <h2>Technologies</h2>
                    <ul>
                        <li>Django & Django Rest Framework</li>
                        <li>JQuery & JQuery Ajax</li>
                        <li>Html, CSS, Bootstrap</li>
                        <li>Amazon AWS for file storage, Celery Worker</li>
                        <li>Heroku</li>
                    </ul>
                </div>
                <div data-aos="fade-left"  class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/visu4.png' %}" class="img-fluid"></div>
            </div>

        </div>

        <div id="akiascallum" class="port-section">
            <div class="text-center">
                <img data-aos="zoom-in-up" src="{% static 'static/img/kia.png' %}" class="img-fluid logo-img">
                <h4>A blog for Akia S. Callum where she can post blogs and photos. People can also subscribe to receive updates.</h4>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                <h2>Background</h2>
                <h5>Created this blog for a friend and wanted to use a different backend than django since hopefully a blog site shouldn't be too complicated</h5>
                <h5>Part of the duration was me learning ruby and the other part was building the blog. This project took me about half of 2018 spring semester.</h5>
                </div>
                <div data-aos="fade-right" class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/kia1.png' %}" class="img-fluid"></div>
                <div data-aos="fade-left"  class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/kia2.png' %}" class="img-fluid"></div>

            </div>
            <div class="row">
                <div data-aos="fade-right" class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/kia3.png' %}" class="img-fluid"></div>
                <div data-aos="fade-left"  class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/kia4.png' %}" class="img-fluid"></div>
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                    <h2>Features</h2>
                    <ul>
                        <li>Allows her to create, edit, and delete blog post</li>
                        <li>Allows her to upload pictures and caption them</li>
                        <li>People can subscribe to her blog and get an email when she creates/update content</li>
                        <li>Filter and view blogs by category</li>
                        <li>LIVE (coming soon, no content. She will be displeased if I gave out the link)</li>
                    </ul>
                    <h2>Technologies</h2>
                    <ul>
                        <li>Ruby on Rails</li>
                        <li>JQuery</li>
                        <li>Html, CSS, Bootstrap, Sass</li>
                        <li>Amazon AWS for file storage</li>
                        <li>Heroku</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="vitality" class="port-section">
            <div class="text-center">
                <img data-aos="zoom-in-up" src="{% static 'static/img/vit1.png' %}" class="img-fluid logo-img">
                <h4>Vitality, search for and create fitness events in NY!</h4>
            </div>
            <div class="row">
                <div data-aos="fade-right" class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/vit1.png' %}" class="img-fluid"></div>
                <div data-aos="fade-left"  class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/vit2.png' %}" class="img-fluid"></div>
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                    <h2>Background</h2>
                    <h5>
                This was our final project assignment for a program know as Computer Science Summer Institute at Google (2015) where we learned html, css, javascript, and python in two weeks
                from Google engineers. The third and final week was dedicated to being in groups of 3 and completing a project. Our project was a web application that would allow users to search
                for fitness events in NY and create their own fitness related events. My responsibilities was getting the backend to work. This was mainly hooking up with the eventbrite api to filter out
                fitness related events only in NY and also adding the ability for users to create their own events.
                    </h5>
                    <h5>
                        Vitality took four days with two other CSSI students and we presented what we completed on the fifth day to an audience at Google NY HQ.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                    <h2>Features</h2>
                    <ul>
                        <li>Search for fitness related events in New York (No longer working :/)</li>
                        <li>Users can create events</li>
                        <li>Check out <a href="http://vitalitycssi.appspot.com/" target="_blank">Vitality</a></li>
                    </ul>
                    <h2>Technologies</h2>
                    <ul>
                        <li>Google App Engine (Python)</li>
                        <li>Jinga Template</li>
                        <li>Javascript & JQuery</li>
                        <li>Html & CSS</li>
                    </ul>
                </div>
                <div data-aos="fade-right" class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/vit3.png' %}" class="img-fluid"></div>
                <div data-aos="fade-left"  class="col-md-4 col-lg-4 col-sm-12"><img src="{% static 'static/img/vit4.png' %}" class="img-fluid"></div>
            </div>
        </div>
    </div>
</div>

<script>
    AOS.init();
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        console.log(anchor)
        e.preventDefault();
        console.log(this.getAttribute('href'))
        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script>