{% load static %}
{% include "index.html" %}
<title>Olivier Dorvelus | Resume</title>
<div id="resume" class="row">

            <div id="experience" class="col-xs-12 col-md-6 offset-md-1 col-lg-6 offset-lg-1 ">
                <div id="software_dev" style="padding-bottom:.8rem">
                    <div class="resume-section-title">Software Development Skills</div>
                    <hr>
                        <div class="row" style="padding-left:3rem">
                            <div class="col-lg-6 col-md-6">
                                <ul style="line-height:1.3rem">
                                    <li>Object Oriented Design</li>
                                    <li>Relational database design and concepts</li>
                                    <li>Agile/Scrum/Kanban/Waterfall Methodologies</li>
                                    <li>Source and version control</li>
                                    <li>Testing and debugging</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <ul style="line-height:1.3rem">
                                     <li>API Design</li>
                                     <li>Full stack web development</li>
                                     <li>Documentation and planning for all different processes of software development</li>
                                     <li>Data structure and algorithm concepts</li>
                                     <li>Familiar with mobile app development</li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="resume-section-title">Professional Experience</div>
                <hr>
                <div v-for="job in jobs" style="padding-top:0.25rem">
                    <div class="experience-sub">
                        <div>
                            <div class="loc-date" style="float:right"><em><p>${job.location}</p><p>${job.date}</p></em></div>
                            <h5 style="" class="job-title">${job.employer}</h5>
                            <em><h6>${job.title}</h6></em>
                            <div class="did-section" v-for="role in job.roles">
                                <ul style="margin-top:0.3rem;margin-bottom:0.3rem;line-height:1.4rem">
                                    <li class="did-item"><span>${role}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <hr>
             </div>
        <div id="recommendations">
            <h6 class="resume-section-title">Recommendations</h6><hr>
            <blockquote>
                <span style="padding-left:2rem">"It</span> was a pleasure to have Olivier Dorvelus work with us as an intern this summer.  Olivier is a bright student, and brought a wealth of skills with him to this position.
                I am confident he will do well in his career.

                Olivier accomplished more than we were expecting!
                There were additional task that he worked on as well.  This included preparing a presentation for our Software Development team on his experiences and recommended tools for developing mobile applications
                and modern web sites.

                While here, he gained significant experience in working with SQL, as well as JavaScript, HTML, and VB Script in a web application environment.
                Additionally, he worked on projects for capturing and parsing data from incoming emails, and saving that information into our database.
                We kept him busy with a variety of experiences, and he was involved in project planning, design, development, testing, implementation, and documentation.

                This was a great experience for all, and I would be amenable to repeating this with another student as bright as Olivier in the future."

                <p>~ Jim Skimos (Petroleum Traders Corporation)</p>
            </blockquote>
        </div>
            </div>

            <div id="side-section" class="col-xs-12 col-md-4 offset-md-1 col-lg-4 offset-lg-1 mx-auto text-center">
                <div id="education" class="c-side">
                    <div class="card" style="width:70%;margin-left:3rem">
                      <div class="card-body">
                        <div class="card-title resume-section-title">Education</div>
                        <h6 class="card-subtitle mb-2 school-title">Indiana Institute of Technology</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Bachelor of Science in Software Engineering, December 2018</h6>
                        <h6 class="card-subtitle mb-2 text-muted">3.8 GPA</h6>
                        <br>
                        <h5 class="card-subtitle mb-2">Extracurricular</h5>
                        <div v-for="extra in extras">
                            <h6 class="card-subtitle mb-2 text-muted">${extra}</h6>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="technical" class="c-side">
                    <div class="card" style="width:70%;margin-left:3rem">
                      <div class="card-body">
                        <div class="card-title resume-section-title">Technical Experience</div>

                          <div class="sub-section" style="background-color:#f2f2f2">
                          <h5 class="sub-title">Programming/Web Languages</h5>
                              <div v-for="language in languages" class="progress-div">
                                <div><h6>${language.name}</h6><img class="technical-img img-fluid rounded-circle" :src="language.image"></div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-striped" :class="language.bgColor" role="progressbar" :style="{width: language.progress + '%'}" :aria-valuenow="language.progress" aria-valuemin="0" aria-valuemax="100"><strong>${language.progress}%</strong></div>
                                </div>
                              </div>
                        </div>

                          <div class="sub-section">
                          <h5 class="sub-title">Frameworks & Libraries</h5>
                              <div v-for="language in frameworks" class="progress-div">
                                <div><h6>${language.name}</h6><img class="technical-img img-fluid rounded-circle" :src="language.image"></div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-striped" :class="language.bgColor" role="progressbar" :style="{width: language.progress + '%'}" :aria-valuenow="language.progress" aria-valuemin="0" aria-valuemax="100"><strong>${language.progress}%</strong></div>
                                </div>
                              </div>
                        </div>

                          <div class="sub-section" style="background-color:#f2f2f2">
                          <h5 class="sub-title">IDES</h5>
                              <div v-for="language in IDES" class="progress-div">
                                <div><h6>${language.name}</h6><img class="technical-img img-fluid rounded-circle" :src="language.image"></div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-striped" :class="language.bgColor" role="progressbar" :style="{width: language.progress + '%'}" :aria-valuenow="language.progress" aria-valuemin="0" aria-valuemax="100"><strong>${language.progress}%</strong></div>
                                </div>
                              </div>
                        </div>

                          <div class="sub-section">
                          <h5 class="sub-title">Operating System</h5>
                              <div v-for="language in operating_systems" class="progress-div">
                                <div><h6>${language.name}</h6><img class="technical-img img-fluid rounded-circle" :src="language.image"></div>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-striped" :class="language.bgColor" role="progressbar" :style="{width: language.progress + '%'}" :aria-valuenow="language.progress" aria-valuemin="0" aria-valuemax="100"><strong>${language.progress}%</strong></div>
                                </div>
                              </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

<script>
var demo = new Vue({
      el: '#resume',
      delimiters: ['${','}'],
      data: {
      extras: ["National Society of Black Engineers", "Association for Computing Machinery", "Black Excellence Association", "Entrepreneur Club"],
      languages: [{name:"Python", progress:100, bgColor:'bg-success', image:"{% static 'static/img/resume/python.png' %}"},
                  {name:"JavaScript", progress:100, bgColor:'bg-warning', image:"{% static 'static/img/resume/javascript.png' %}"},
                  {name:"Java", progress:100, bgColor:'bg-warning', image:"{% static 'static/img/resume/java.png' %}"},
                  {name:"HTML & CSS", progress:100, bgColor:'bg-primary', image:"{% static 'static/img/resume/html.png' %}"},
                  {name:"SQL", progress:100, bgColor:'bg-info', image:"{% static 'static/img/resume/sql.png' %}"},
                  {name:"C++", progress:75, bgColor:'bg-danger', image:"{% static 'static/img/resume/cpp.png' %}"},
                  {name:"C#", progress:60, bgColor:'bg-dark', image:"{% static 'static/img/resume/csharp.png'%}"},
                  {name:"Ruby", progress:40, bgColor:'bg-danger', image:"{% static 'static/img/resume/ruby.png' %}"},
                  {name:"VBScript", progress:50, bgColor:'bg-info', image:"{% static 'static/img/resume/vbscript.png' %}"}

      ],

      frameworks: [{name:"Django + Django Rest", progress:100, bgColor:'bg-success', image:"{% static 'static/img/resume/django.png' %}"},
                  {name:"JQuery + Jquery Ajax", progress:100, bgColor:'bg-warning', image:"{% static 'static/img/resume/jquery.png' %}"},
                  {name:"Bootstrap 3 & 4", progress:100, bgColor:'bg-primary', image:"{% static 'static/img/resume/bootstrap.png' %}"},
                  {name:"Sass", progress:100, bgColor:'bg-info', image:"{% static 'static/img/resume/sass.png' %}"},
                  {name:"VueJS", progress:50, bgColor:'bg-success', image:"{% static 'static/img/resume/vue.png' %}"},
                  {name:"ReactJS + ReactNative", progress:60, bgColor:'bg-info', image:"{% static 'static/img/resume/react.png' %}"},
                  {name:"Ruby on Rails", progress:50, bgColor:'bg-danger', image:"{% static 'static/img/resume/rails.png'%}"}

      ],

      IDES: [{name:"Atom", progress:100, bgColor:'bg-secondary', image:"{% static 'static/img/resume/atom.png' %}"},
                  {name:"PyCharm", progress:100, bgColor:'bg-success', image:"{% static 'static/img/resume/pycharm.png' %}"},
                  {name:"Visual Studio", progress:100, bgColor:'bg-dark', image:"{% static 'static/img/resume/vstudio.png' %}"},
                  {name:"Eclipse", progress:80, bgColor:'bg-warning', image:"{% static 'static/img/resume/eclipse.png' %}"},
                  {name:"SQL Server Management Studio", progress:100, bgColor:'bg-info', image:"{% static 'static/img/resume/sqlserver.jpg'%}"},
                  {name:"Notepad++", progress:80, bgColor:'bg-success', image:"{% static 'static/img/resume/notepad.png' %}"},
                  {name:"Codeblocks", progress:80, bgColor:'bg-danger', image:"{% static 'static/img/resume/codeblock.png' %}"},
                  {name:"intelliJ", progress:60, bgColor:'bg-primary', image:"{% static 'static/img/resume/intel.png' %}"}

      ],

      operating_systems: [{name:"Windows", progress:100, bgColor:'bg-primary', image:"{% static 'static/img/resume/windows.png' %}"},
                  {name:"Linux", progress:65, bgColor:'bg-dark', image:"{% static 'static/img/resume/linux.png' %}"},
                  {name:"Mac", progress:40, bgColor:'bg-secondary', image:"{% static 'static/img/resume/apple.png' %}"}
      ],



      jobs: [{employer: "Petroleum Traders Corporation", title: "Software Developer Intern", location: "Fort Wayne, IN", date:"May 2018 – August 2018", roles:["Integrated new features on the internal site such as allowing employees to input hours of operation for Ship-To locations and made it abstract enough to implement into other models using strategic SQL relational database techniques.",
      "Automated task and reduced up to 90 minutes of employee work time by parsing several incoming files from emails using regular expressions and populated the parsed information to the database using VBScript.", "Implemented asynchronous warnings to employees on the frontend to prevent employees from setting invalid form data such as setting hours outside a ship-to or terminal hours of operation.",
      "Added support for reports to be downloaded as text files for simplicity rather than always being downloaded as pdf, excel, or report format improving the speed of less complex reports.", "Replaced old functions throughout the code base with faster functions increasing performance speeds of the internal system by 20%.", "Completed over 10 help desk tickets related to software issues such as a bugs or user experience preferences in a timely manner as they were submitted.", "Completed 15 software development projects for the company over a duration of 10 weeks."]},

      {employer: "Visumic", title: "Full Stack Web Developer/Founder", location: "Brooklyn, NY", date:"August 2017 – May 2018", roles:[
      "Implemented MVC model using Django framework with code separation logic for routing, models, views, and testing", "Developed a smooth responsive frontend using HTML, CSS, bootstrap and media queries.", "Developed a robust SQL relational database with validation and methods for tables such as users, videos, genres, playlist, sharing, followers, and more.",
      "Developed a fully functional REST API that supports CRUD operations and authentication.", "Developed modern features such as subscription, uploading media files, user accounts, events, notifications, and sharing.", "Managed a database with over 7,000 rows."]},

      {employer: "INDIANA TECH IT DEPARTMENT", title: "Student Developer", location: "Fort Wayne, IN", date:"September 2017 – August 2017", roles:["Perform SQL queries to pull data from Indiana Tech’s database to integrate with blackboard and starfish.",
      "Imported aggregate data into the system so academic advisers can look at trends and improve academic performance.", "Discussed and integrated how we should handle data such as data access and data display across school platforms"
         ]},

     {employer: "INDIANA TECH Office of Student Success", title: "Peer Tutor", location: "Fort Wayne, IN", date:"January 2017 – May 2018", roles:["Tutored low and high level math & computer science courses to students of various backgrounds.",
      "Increased test scores of students by an average of 30% through personalized tutoring.", "Managed progress reports, reoccurring appointments, and prepared engaging work to match students’ skill level with an average of 10 personal appointments per week.", "Discussed with professors and advisers how we can improve academic performance among various types of students such as athletes, students with learning disabilities, and transitioning students."]},

     {employer: "Google Computer Science Summer Institute", title: "Student", location: "New York, NY", date:"July 2015 – August 2015", roles:["Learned about HTML, CSS & Javascript/JQuery and backend development using Python from Google Engineers.", "Worked with two other students to complete a web application project in 4 days.",
      "Made API calls to Eventbrite to pull out specific data such as categories and location to get desired results and displayed information about the event on the frontend.", "Created an event form handler that allowed users to upload their own events.", "Developed a search form event handler that pulled data from the Eventbrite API and our own database simultaneously.", "Presented our final project to an audience of Google engineers."]}

      ]
      }
    })
</script>
